.card img {
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.form-control {
    height: 150px;
    resize: none;
}

.error-message {
    color: red;
}

input[type="checkbox"].is-invalid {
    border: 2px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    outline: none;
}